<div class="ui segment">
  <h3 class="ui header cp_h1title">
    <span class="point-up-first-char">N</span>ame
  </h3>
  <p>mihirogi</p>
</div>
<div class="ui segment">
  <h3 class="ui header cp_h1title">
    <span class="point-up-first-char">G</span>itHub
  </h3>
  <p><a href="https://github.com/mihirogi">https://github.com/mihirogi</a></p>
</div>
<div class="ui segment">
  <h3 class="ui header cp_h1title">
    <span class="point-up-first-char">L</span>ike
  </h3>
  <p>お絵かき</p>
  <p>ゲーム</p>
  <p>ゆるく開発</p>
  <p>アニメ</p>
</div>
